.modal-overlay {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, .35);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1000;

}



.modal-card {

    background: white;

    border-radius: 32px;

    padding: 40px;

    width: 450px;

    display: flex;

    flex-direction: column;

    gap: 20px;

}



.modal-card input,
.modal-card textarea {

    padding: 16px;

    border-radius: 18px;

    border: 1px solid #ddd;

    font-size: 16px;

}



.modal-card h2 {

    margin: 0;

}