.schedule-container {

    display: flex;

    flex-direction: column;

    gap: 80px;

    margin-top: 50px;

}



.schedule-card {

    background: white;

    border: 1px solid #ededed;

    border-radius: 32px;

    padding: 40px;

    max-width: 850px;

}



.schedule-card h3 {

    font-size: 32px;

    margin-bottom: 15px;

}



.schedule-card p {

    color: #666;

    font-size: 17px;

}





.schedule-fields {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;

    margin: 40px 0;

}





.form-group label {

    display: block;

    font-size: 12px;

    text-transform: uppercase;

    letter-spacing: 2px;

    color: #888;

    margin-bottom: 10px;

}



.form-group input,
.form-group select {

    width: 100%;

    padding: 16px;

    border-radius: 18px;

    border: 1px solid #ddd;

    font-size: 16px;

    background: white;

}



.schedule-list {

    display: flex;

    flex-direction: column;

    gap: 30px;

}




@media(max-width:900px) {

    .schedule-fields {

        grid-template-columns: 1fr;

    }

}