.validation-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

margin-top:60px;

}



.validation-card{


background:#fff;

border:1px solid #ededed;

border-radius:32px;

padding:35px;

min-height:330px;

display:flex;

flex-direction:column;


transition:.3s ease;


}



.validation-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 40px rgba(0,0,0,.06);

}



.admin-number{

font-size:14px;

letter-spacing:3px;

color:#777;

}



.validation-card h3{

font-size:32px;

line-height:1.1;

margin:25px 0 35px;

}



.profile-info{

display:flex;

flex-direction:column;

gap:18px;

}



.profile-info p{

display:flex;

flex-direction:column;

margin:0;

font-size:17px;

color:#555;

}



.profile-info span{

font-size:12px;

text-transform:uppercase;

letter-spacing:2px;

color:#999;

margin-bottom:5px;

}



.validation-buttons{

margin-top:auto;

padding-top:35px;

display:flex;

gap:15px;

}



.approve-button,
.reject-button{


border:none;

border-radius:50px;

padding:15px 25px;

font-size:15px;

cursor:pointer;

transition:.3s;

}



.approve-button{

background:#000;

color:white;

}



.approve-button:hover{

background:#222;

}




.reject-button{

background:#f2f2f2;

color:#111;

}



.reject-button:hover{

background:#ddd;

}





@media(max-width:1100px){

.validation-grid{

grid-template-columns:repeat(2,1fr);

}

}



@media(max-width:700px){

.validation-grid{

grid-template-columns:1fr;

}

}